main {
  text-align: center;
  section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .cercle {
    overflow: hidden;
    border-radius: 50%;
    width: 20vw;
  }
  .header-img {
    height: 60vh;
  }
  .row {
    margin-top: 50px;
  }
  .main-vedette {
    .card {
      border-radius: 20px;
      .card-img-top {
        padding: 10px;
        border-radius: 20px;
      }
    }
  }
  .main-temoignage {
    .card {
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 10px;
      border-radius: 20px;
      .img-fluid {
        border-radius: 20px;
        height: 100%;
      }
    }
  }
}
